@model ViewModels.ProductDetailViewModel

@{
		ViewBag.Title = Model.Product.Title;
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}

<div class="tg-banner tg-haslayout parallax-window" data-parallax="scroll" data-bleed="100" data-speed="0.2" data-image-src="/images/header.jpg">
	<div class="tg-displaytable">
		<div class="tg-displaytablecell">
			<div class="container">
				<h3>@Model.Product.Title</h3>
				<ol class="tg-breadcrumb">
					<li><a href="#">خانه</a></li>
					<li><a href="/category/@Model.Product.ProductGroup.UrlParam">@Model.Product.ProductGroup.Title</a></li>

					<li>@Model.Product.Title</li>
				</ol>
			</div>
		</div>
	</div>
</div>


<main class="main-content tg-haslayout">
	<div id="tg-two-columns" class="tg-two-columns tg-haslayout">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 col-xs-12 pull-left">
					<div id="content" class="content tg-shop-detail tg-haslayout">
						<div class="tg-post tg-haslayout">
							<div class="tg-product-detail">
								<div class="row">

									<div class="col-md-7">
										<h2>@Model.Product.Title</h2>

									@if (Model.Product.IsFree)
									{
										<div class="tg-product-bottom">
											<span>رایگان</span>
										</div>
									}
									else
									{
										 if (Model.Product.IsInPromotion)
										 {
											 <div class="tg-product-votes tg-haslayout">
												 <del>@Model.Product.AmountStr تومان</del>
												 <span>@Model.Product.DiscountAmountStr تومان</span>
											 </div>
										 }
										 else
										 {
											 <div class="tg-product-votes tg-haslayout">
												 <span>@Model.Product.AmountStr تومان</span>
											 </div>
										 }
									}

										<div class="tg-description">
											<p>@Html.Raw(Model.Product.Summery)</p>
										</div>

										<div class="tg-quantity-adtocart tg-haslayout">
											<button class="btn btn-danger" onclick="addToBasket('@Model.Product.Code');">افزودن به سبد خرید</button>
										</div>
									</div>

									<div class="col-md-5 col-sm-12 col-xs-12">
										<figure>
											<img src="@Model.Product.ImageUrl" alt="@Model.Product.Title">
										</figure>
									</div>

								</div>
							</div>
						</div>
						<div class="tg-review-tabs">
							<ul class="tg-nav-tabs" role="tablist">
								<li role="presentation" class="active"><a class="tg-btn" href="#home" aria-controls="home" role="tab" data-toggle="tab"><span>توضیحات تکمیلی</span></a></li>
								@*<li role="presentation"><a class="tg-btn" href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><span>نظرات کاربران</span></a></li>*@
							</ul>
							<div class="tg-tab-content tab-content">
								<div role="tabpanel" class="tg-tab-pane tab-pane active" id="home">
									<div class="tg-description">

										@Html.Raw(Model.Product.Body)
										@if (!string.IsNullOrEmpty(Model.Product.Body))
										{
											<div class="text-right">
												<button class="btn btn-danger" onclick="addToBasket('@Model.Product.Code');">افزودن به سبد خرید</button>
											</div>
												}
									</div>
								</div>
								@*<div role="tabpanel" class="tg-tab-pane tab-pane" id="profile">
										<div class="tg-description">
											<p>Proin gravida nibh vel velit auctor aliquet. Aenes sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
											<p>Morbi accumsan ipsum velit. Nam nec tdio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
											<p>Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
										</div>
									</div>*@
							</div>
						</div>
					</div>
				</div>
				<aside id="tg-sidebar" class="tg-sidebar">
					<div class="col-md-3 col-sm-4 col-xs-12 pull-right">

						<div class="tg-widget tg-catagorieswidget">
							<div class="tg-sectionheading">
								<h2>گروه محصولات</h2>
							</div>
							<ul>
								@foreach (var productGroup in Model.SideBarProductGroups)
								{
										<li><a href="/category/@productGroup.ProductGroup.UrlParam"><em>@productGroup.ProductGroup.Title</em><i>@productGroup.Quantity</i></a></li>

								}

							</ul>
						</div>
						<div class="tg-widget tg-addwidget">
							<div class="tg-add">
								<a href="#"><img src="/images/aside-add-img1.jpg" alt="image description"></a>
							</div>
						</div>
						<div class="tg-widget tg-wishlist-widget">
							<div class="tg-sectionheading">
								<h2>محصولات پر فروش</h2>
							</div>
							<ul>
								@foreach (var product in Model.SideBarProducts)
								{
										<li>
											<figure>
												<img src="@product.ImageUrl" alt="@product.Title" height="60px">
												<figcaption class="tg-producthover">
													<a href="/category/@product.UrlParam"><i class="fa fa-eye"></i></a>
												</figcaption>
											</figure>
											<div class="tg-product-info sidebar-item">
												<h3>
													<a href="/category/@product.UrlParam">@product.Title</a>
												</h3>
												<em>@product.AmountStr تومان</em>
												<a class="tg-addtocart" href="#">افزودن به سبد خرید</a>
											</div>
										</li>
								}

							</ul>
						</div>

						<div class="tg-widget tg-sliderwidget">
							<div id="tg-widget-slider" class="tg-widget-slider tg-shopslider-widget">

								@foreach (var blog in Model.SideBarBlogs)
								{
										<div class="item">
											<figure>
												<a href="/blog/post/@blog.UrlParam"><img src="@blog.ImageUrl" alt="@blog.Title" height="187px"></a>
											</figure>
											<h3><a href="/blog/post/@blog.UrlParam">@blog.Title</a></h3>
										</div>
								}


							</div>
						</div>

					</div>
				</aside>
			</div>
		</div>
	</div>
</main>