@model IEnumerable<Models.OrderDetail>

@{
    ViewBag.Title = "فهرست " + Server.HtmlDecode(Html.DisplyModelPluralName(model => model).ToString());

    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Columns(columns =>
        {
        columns.Bound(model => model.Order.Address);
        columns.Bound(model => model.Product.Title);
        //columns.Bound(model => model.OrderFile);
        columns.Bound(model => model.Fullname);
        columns.Bound(model => model.Quantity);
        columns.Bound(model => model.Amount);
        columns.Bound(model => model.RawAmount);
        columns.Bound(model => model.IsActive);
        columns.Bound(model => model.CreationDate);
        columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
                      .Template(@<text>
                @Html.ActionLink("ویرایش", "Edit", new { id = @item.Id }, new { @class = "k-button" })
                @Html.ActionLink("حذف", "Delete", new { id = @item.Id }, new { @class = "k-button" })
                    </text>).Width(200);
        })
        .ToolBar(toolbar =>
        {
            toolbar.Custom().Action("Create", "OrderDetails").Text("افزودن");
        }
        )
        .DataSource(dataSource => dataSource
                                    .Server()

                                    .Model(model => model.Id(item => item.Id))
                    )
)
<a href="/orders">